In [5]:
import pandas as pd

In [64]:
df = pd.read_excel('Leerflaechen-nach-Nutzungsart-und-Quartier.xlsx', header=8)

In [91]:
df_transposed = df.transpose()

In [122]:
list1 = df_transposed[1:]

In [123]:
list1

,nan,nan,Ganze Stadt,Kreis 1,Rathaus,Hochschulen,Lindenhof,City,Kreis 2,Wollishofen,...,Höngg,Wipkingen,Kreis 11,Affoltern,Oerlikon,Seebach,Kreis 12,Saatlen,Schwamendingen-Mitte,Hirzenbach
Unnamed: 1,NaN,2017,243660,34710,1940,1187,10304,21279,25173,4227,...,464,878,65488,1706,9649,54133,1279,1113,166,0
Unnamed: 2,NaN,2016,237054,32201,2261,340,8060,21540,19439,5313,...,0,477,58697,1651,13744,43302,1922,865,1057,0
Unnamed: 3,NaN,2015,256450,40945,2261,126,7737,30821,30347,3790,...,220,0,25972,200,3101,22671,1059,514,545,0
Unnamed: 4,NaN,2014,264548,53774,2284,2218,7381,41891,34236,9101,...,0,1240,38549,1095,3299,34155,1277,408,709,160
Büro/Praxis,Leerfläche (m²),2018,139664,23805,1399,670,6963,14773,19520,1741,...,0,159,33757,98,13603,20056,836,758,78,0
Unnamed: 6,NaN,2017,174381,29535,1940,797,8158,18640,17542,2224,...,0,285,50811,546,5104,45161,1184,1018,166,0
Unnamed: 7,NaN,2016,193027,29807,1315,340,7725,20427,14427,3471,...,0,387,45953,1651,10150,34152,1198,510,688,0
Unnamed: 8,NaN,2015,207901,36180,2113,126,7374,26567,25972,3077,...,220,0,20801,200,1909,18692,945,514,431,0
Unnamed: 9,NaN,2014,214900,49692,1856,2218,6967,38651,28559,6703,...,0,887,29929,1095,2900,25934,577,252,325,0
Unnamed: 10,Leerflächenziffer,2018,1.82,3.00931,1.31245,0.870212,3.94002,3.59494,2.52306,1.13409,...,0,0.220649,2.9749,0.149882,3.19881,3.25763,1.06719,2.58733,0.235935,0
Unnamed: 11,NaN,2017,2.29461,3.72238,1.82831,1.01849,4.65746,4.49234,2.23063,1.46925,...,0,0.41382,4.41391,0.715395,1.20086,7.31052,1.61622,3.7152,0.517737,0
Unnamed: 12,NaN,2016,2.55052,3.71389,1.28015,0.414879,4.36856,4.89253,1.88242,2.61,...,0,0.562228,4.07868,2.12041,2.396,5.62907,1.6994,1.82185,1.99413,0
Unnamed: 13,NaN,2015,2.75774,4.49455,2.05567,0.147865,4.1701,6.37302,3.4074,2.21649,...,0.137581,0,1.79862,0.257478,0.449521,2.92084,1.47164,2.71279,1.24484,0
Unnamed: 14,NaN,2014,2.91931,6.44231,1.79155,2.59153,4.01177,10.0267,3.76196,4.88784,...,0,1.37117,2.69711,1.42313,0.696712,4.4277,0.923348,1.09592,0.96385,0
Lager/\nArchiv,Leerfläche (m²),2018,31663,2436,128,0,579,1729,2687,479,...,28,50,7338,13,896,6429,0,0,0,0
Verkauf,NaN,2018,5381,1889,383,0,0,1506,608,0,...,0,353,480,0,200,280,0,0,0,0
Werkstatt/\nProduktion,NaN,2018,5122,214,64,0,0,150,87,0,...,0,0,1169,0,1169,0,0,0,0,0
Andere Nutzungen,NaN,2018,5884,2206,1530,0,0,676,298,0,...,0,0,431,0,431,0,0,0,0,0

In [203]:
df = pd.read_excel('Leerflaechen-nach-Nutzungsart-und-Quartier.xlsx', index_col=0, header=8)

In [204]:
df_transposed2 = df.transpose()

In [205]:
list2 = df_transposed2[1:]

In [210]:
list2.iloc[2:6, 1:6]

              NaN Ganze Stadt Kreis 1 Rathaus Hochschulen
Unnamed: 3   2015      256450   40945    2261         126
Unnamed: 4   2014      264548   53774    2284        2218
Büro/Praxis  2018      139664   23805    1399         670
Unnamed: 6   2017      174381   29535    1940         797

In [202]:
# list2.iloc[2:6, 1:6]

In [211]:
df = pd.read_excel('Leerflaechen-nach-Nutzungsart-und-Quartier.xlsx', header=10)

In [212]:
df.transpose()

,Ganze Stadt,Kreis 1,Rathaus,Hochschulen,Lindenhof,City,Kreis 2,Wollishofen,Leimbach,Enge,...,Höngg,Wipkingen,Kreis 11,Affoltern,Oerlikon,Seebach,Kreis 12,Saatlen,Schwamendingen-Mitte,Hirzenbach
2018,187714.000000,30550.000000,3504.000000,670.000000,7542.000000,18834.000000,23200.000000,2220.000000,0.000000,20980.000000,...,28.000000,562.000000,43175.000000,111.000000,16299.000000,26765.000000,836.000000,758.000000,78.000000,0.0
2017,243660.000000,34710.000000,1940.000000,1187.000000,10304.000000,21279.000000,25173.000000,4227.000000,0.000000,20946.000000,...,464.000000,878.000000,65488.000000,1706.000000,9649.000000,54133.000000,1279.000000,1113.000000,166.000000,0.0
2016,237054.000000,32201.000000,2261.000000,340.000000,8060.000000,21540.000000,19439.000000,5313.000000,0.000000,14126.000000,...,0.000000,477.000000,58697.000000,1651.000000,13744.000000,43302.000000,1922.000000,865.000000,1057.000000,0.0
2015,256450.000000,40945.000000,2261.000000,126.000000,7737.000000,30821.000000,30347.000000,3790.000000,NaN,26557.000000,...,220.000000,0.000000,25972.000000,200.000000,3101.000000,22671.000000,1059.000000,514.000000,545.000000,0.0
2014,264548.000000,53774.000000,2284.000000,2218.000000,7381.000000,41891.000000,34236.000000,9101.000000,401.000000,24734.000000,...,0.000000,1240.000000,38549.000000,1095.000000,3299.000000,34155.000000,1277.000000,408.000000,709.000000,160.0
2018.1,139664.000000,23805.000000,1399.000000,670.000000,6963.000000,14773.000000,19520.000000,1741.000000,0.000000,17779.000000,...,0.000000,159.000000,33757.000000,98.000000,13603.000000,20056.000000,836.000000,758.000000,78.000000,0.0
2017.1,174381.000000,29535.000000,1940.000000,797.000000,8158.000000,18640.000000,17542.000000,2224.000000,0.000000,15318.000000,...,0.000000,285.000000,50811.000000,546.000000,5104.000000,45161.000000,1184.000000,1018.000000,166.000000,0.0
2016.1,193027.000000,29807.000000,1315.000000,340.000000,7725.000000,20427.000000,14427.000000,3471.000000,0.000000,10956.000000,...,0.000000,387.000000,45953.000000,1651.000000,10150.000000,34152.000000,1198.000000,510.000000,688.000000,0.0
2015.1,207901.000000,36180.000000,2113.000000,126.000000,7374.000000,26567.000000,25972.000000,3077.000000,0.000000,22895.000000,...,220.000000,0.000000,20801.000000,200.000000,1909.000000,18692.000000,945.000000,514.000000,431.000000,0.0
2014.1,214900.000000,49692.000000,1856.000000,2218.000000,6967.000000,38651.000000,28559.000000,6703.000000,58.000000,21798.000000,...,0.000000,887.000000,29929.000000,1095.000000,2900.000000,25934.000000,577.000000,252.000000,325.000000,0.0
2018.2,1.820000,3.009313,1.312454,0.870212,3.940022,3.594943,2.523061,1.134094,0.000000,3.008532,...,0.000000,0.220649,2.974895,0.149882,3.198815,3.257628,1.067194,2.587330,0.235935,0.0
2017.2,2.294606,3.722381,1.828309,1.018492,4.657459,4.492340,2.230628,1.469252,0.000000,2.533441,...,0.000000,0.413820,4.413909,0.715395,1.200857,7.310521,1.616218,3.715196,0.517737,0.0
2016.2,2.550520,3.713889,1.280151,0.414879,4.368561,4.892534,1.882420,2.610001,0.000000,1.818342,...,0.000000,0.562228,4.078679,2.120407,2.395998,5.629068,1.699398,1.821850,1.994132,0.0
2015.2,2.757742,4.494553,2.055668,0.147865,4.170103,6.373022,3.407398,2.216489,0.000000,3.800584,...,0.137581,0.000000,1.798620,0.257478,0.449521,2.920838,1.471645,2.712795,1.244845,0.0
2014.2,2.919305,6.442308,1.791554,2.591527,4.011771,10.026703,3.761955,4.887840,0.616666,3.621912,...,0.000000,1.371171,2.697113,1.423131,0.696712,4.427701,0.923348,1.095918,0.963850,0.0
2018.3,31663.000000,2436.000000,128.000000,0.000000,579.000000,1729.000000,2687.000000,479.000000,0.000000,2208.000000,...,28.000000,50.000000,7338.000000,13.000000,896.000000,6429.000000,0.000000,0.000000,0.000000,0.0
2018.4,5381.000000,1889.000000,383.000000,0.000000,0.000000,1506.000000,608.000000,0.000000,0.000000,608.000000,...,0.000000,353.000000,480.000000,0.000000,200.000000,280.000000,0.000000,0.000000,0.000000,0.0
2018.5,5122.000000,214.000000,64.000000,0.000000,0.000000,150.000000,87.000000,0.000000,0.000000,87.000000,...,0.000000,0.000000,1169.000000,0.000000,1169.000000,0.000000,0.000000,0.000000,0.000000,0.0
2018.6,5884.000000,2206.000000,1530.000000,0.000000,0.000000,676.000000,298.000000,0.000000,0.000000,298.000000,...,0.000000,0.000000,431.000000,0.000000,431.000000,0.000000,0.000000,0.000000,0.000000,0.0

In [57]:
# df[Jahre].astype(str).astype('int64')


df['2018.1'] = df.2018.1.astype(float)

SyntaxError: invalid syntax (<ipython-input-57-6569b42b0ead>, line 4)

In [56]:
df.types

AttributeError: 'DataFrame' object has no attribute 'types'

In [35]:
list2 = list(df)
list2





# >>> df['purchase'].astype(str).astype(int)

[2018,
 2017,
 2016,
 2015,
 2014,
 '2018.1',
 '2017.1',
 '2016.1',
 '2015.1',
 '2014.1',
 '2018.2',
 '2017.2',
 '2016.2',
 '2015.2',
 '2014.2',
 '2018.3',
 '2018.4',
 '2018.5',
 '2018.6']

In [53]:
Jahre = list2

In [54]:
# df[Jahre].astype(str).astype('int64')


Jahre['2018.1'] = Jahre.astype(float)

AttributeError: 'list' object has no attribute 'astype'

In [51]:
df.dtypes

2018        int64
2017        int64
2016        int64
2015      float64
2014        int64
2018.1      int64
2017.1      int64
2016.1      int64
2015.1      int64
2014.1      int64
2018.2    float64
2017.2    float64
2016.2    float64
2015.2    float64
2014.2    float64
2018.3      int64
2018.4      int64
2018.5      int64
2018.6      int64
dtype: object

In [36]:
df.dtypes

2018        int64
2017        int64
2016        int64
2015      float64
2014        int64
2018.1      int64
2017.1      int64
2016.1      int64
2015.1      int64
2014.1      int64
2018.2    float64
2017.2    float64
2016.2    float64
2015.2    float64
2014.2    float64
2018.3      int64
2018.4      int64
2018.5      int64
2018.6      int64
dtype: object

In [ ]:
df['Approved Amount'] = df['Approved Amount'].astype(float)

In [28]:
list3 = []
for elem1, elem2 in zip(list1, list2):
    elem = elem1 + " "+elem2
    list3.append(elem)

TypeError: can only concatenate str (not "int") to str